@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Electrolize&family=Geo&display=swap');

.App {
  height: 50vh;
  display: flex;
  flex-direction: column;
  gap: 62px;
  justify-content: center;
  align-items: center;
}

.pause {
  font-family: 'Geo', sans-serif;
  color: #FF6347;
  font-size: x-large;
  position: fixed;
  margin-left: 275px;
  margin-top: 30px;
}

.Title {
  margin-top: 30px;
  margin-bottom: 62px;
  font-family: 'Annie Use Your Telescope', cursive;
  font-size: 70px;
  color: #FF6347;

  display: flex;
  justify-content: center;
}

.container-btn-clocks{
  display: flex;
  width: 600px;
  height: 50px;
}

.container-btn-functions{
  display: flex;
  width: 600px;
  height: 50px;
}

.Clock {
  display: flex;
  margin-top: 32px;
  margin-bottom: 32px;
  justify-content: center;

  font-family: 'Geo', sans-serif;
  font-size: 80px;
  color: white;
}
